<nav>
  <a href="/">Home</a>
  <% if (user) { %>
    <a href="/users">Explore Community</a>
    <a href="/users/<%= user._id %>/fragrances">My Vault</a>
    <a href="/auth/sign-out">Sign Out</a>
  <% } else { %>
    <a href="/auth/login">Log In</a>
    <a href="/auth/register">Sign Up</a>
  <% } %>
</nav>