<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fragrance Vault</title>
</head>
<body>
  <%- include('./partials/_navbar.ejs') %>
  
  <h1>Welcome to the Fragrance Vault</h1>
  
  <% if (user) { %>
    <p>Hello, <%= user.username %>! Ready To Check Your Collection?</p>
  <% } else { %>
    <p>Please Log In To See Your Private Collection.</p>
  <% } %>
</body>
</html>