<h1>Your Collection</h1>
<a href="/users/<%= user._id %>/fragrances/new">Add New Fragrance</a>

<hr />

<% if (fragrances.length > 0) { %>
  <ul>
    <% fragrances.forEach(fragrance => { %>
      <li>
        <strong><%= fragrance.name %></strong> - <%= fragrance.brand %>
      </li>
    <% }) %>
  </ul>
<% } else { %>
  <p>There are no items in this vault yet.</p>
<% } %>