<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>

  <body>
    <%- include('../partials/_navbar.ejs') %>

    <div class="container">
      <h1>Add a New Fragrance</h1>

      <form action="/users/<%= user._id %>/fragrances" method="POST">
        <div class="form-group">
          <label for="name">Fragrance Name:</label>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="e.g. Bleu de Chanel"
            required
          />
        </div>

        <div class="form-group">
          <label for="brand">Brand:</label>
          <input
            type="text"
            name="brand"
            id="brand"
            placeholder="e.g. Chanel"
            required
          />
        </div>

        <button type="submit">Add to Vault</button>
        <a href="/users/<%= user._id %>/fragrances" class="cancel-link"
          >Back to Vault</a
        >
      </form>
    </div>
  </body>
</html>
